div {
  border: 1px solid gray;
}
.klasa {
  height: 500px;
  width: 600px;
  background-color: gray;
  position: relative;
}
.klasa1 {
  width: 300px;
  height: 120px;
  background-color: red;
  position: absolute;
  left: 100px;
  top: 200px;
  z-index: 1;
}
.klasa2 {
  width: 120px;
  height: 150px;
  position: absolute;
  top: 90px;
  right: 180px;
  background-color: green;
  z-index: 2;
}
.klasa3 {
  width: 200px;
  height: 160px;
  position: absolute;
  bottom: 100px;
  right: 190px;
  background-color: yellow;
  z-index: 3;
}
.klasa4 {
  width: 250px;
  height: 140px;
  position: absolute;
  bottom: 80px;
  left: 180px;
  background-color: blue;
  z-index: 4;
}
