.klasa {
  height: 190px;
  width: 420px;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 10px;
}
.klasa1 {
  height: 30px;
  width: 30px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: skyblue;
  border-radius: 50%;
}
.klasa4 {
  color: white;
  background-color: purple;
  border: none;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 6px;
}
