h1 {
  color: white;
  background-color: red;
}
h2 {
  color: red;
}
p {
  color: darkred;
}
body {
  background-color: black;
}
h3 {
  color: rosybrown;
}
p {
  color: darkred;
}
h2 {
  color: rosybrown;
}
p1 {
  background-color: brown;
  justify-content: ;
}
