.card {
  background-color: darkblue;
  width: 470px;
  height: 460px;
  border: 2px solid gray;
  border-radius: 15px;
}
.cardimage {
  width: 450px;
  height: 250px;
  border-radius: 15px;
  margin-left: 2%;
}
.cardSubtitle {
  color: white;
  font-size: 30px;
}
.cardTitle {
  color: red;
  font-size: 40px;
}
.card1 {
  color: gray;
}
.card2 {
  color: gray;
}
