/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100;
  height: 100;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.d1 {
  height: 90px;
  width: 1550px;
  position: fixed;
  z-index: 10;

  background-color: #131c27;
}
.t {
  position: relative;
  top: 26px;
  left: 100px;
  color: white;
  font-style: italic;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.l {
  position: absolute;
  top: 33px;
  right: 580px;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.b {
  position: absolute;
  top: 33px;
  right: 400px;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.c {
  position: absolute;
  top: 33px;
  right: 220px;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.d2 {
  width: 1550px;
  height: 750px;
}
.i {
  width: 1550px;
  height: 900px;
}

.div2 {
  font-size: 200%;
  color: whitesmoke;
  position: relative;
  bottom: 500px;
  left: 500px;
  right: 500px;
}
.div3 {
  position: relative;
  color: white;
  font-size: 120%;
  left: 400px;
  bottom: 450px;
}
.div4 {
  position: relative;
  font-size: 150%;

  color: white;
  left: 600px;
  bottom: 430px;
}

.button {
  position: absolute;
  top: 500px;
  left: 680px;
  font-size: large;
  font-style: oblique;
  border: none;
  width: 180px;
  height: 60px;
  background-color: #2d68b1;
  color: whitesmoke;
  box-shadow: inset 0 0 0 0#0b1f37;
  transition: 1s ease-in;
}
.button:hover {
  box-shadow: inset 180px 0 0 0#0b1f37;
  cursor: pointer;
  color: white;
}
.demir1 {
  margin-top: -20px;
  margin-bottom: 0px;
}
.demir2 {
  width: 1550px;
  height: 900px;
}
.demir3 {
  position: absolute;
  font-size: 150%;
  top: 1150px;
  left: 100px;
  z-index: 7;
  color: white;
  text-decoration: underline;
}
.demir4 {
  height: 100px;
  width: 700px;
  position: absolute;
  font-size: 200%;
  top: 1230px;
  left: 100px;
  z-index: 7;
  color: white;
}
.demir5 {
  position: absolute;
  top: 890px;
  left: 1150px;
  animation: slide 40s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
.demir6 {
  position: absolute;
  top: 880px;
  left: 1300px;
  animation: slide 40s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}

@keyframes slide {
  0% {
    transform: translate(0, 0px);
  }
  30% {
    transform: translate(-60px, 0px);
  }
  60% {
    transform: translate(60px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.dd2 {
  margin-top: -9px;
  margin-bottom: 0px;
}
.i2 {
  width: 1550px;
  height: 900px;
}
.div5 {
  width: 1550px;
  height: 300px;
  position: absolute;
  top: 1900px;
  left: 400px;
  right: 400px;
}
.div6 {
  font-size: 200%;
  color: #295b99;
  margin-left: 90px;
  margin-right: 70px;
}
.div7 {
  font-size: 130%;
  color: #5b7ca3;
  margin-left: -80px;
  margin-top: 50px;
}
.div8 {
  font-size: 100%;
  color: #5b7ca3;
  margin-left: 180px;
  margin-top: 10px;
}
.glavni {
  width: 1200px;
  height: 300px;
  position: absolute;
  top: 2200px;
  left: 180px;
  padding: 10px;
  background-color: none;
}
.div9 {
  width: 300px;
  height: 280px;
  position: relative;
  left: 10px;
  display: inline-block;
  background-color: white;
}
.b4 {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.i3 {
  width: 150px;
  height: 90px;
  margin-left: 70px;
  display: inline-block;
}
.T1 {
  padding-left: 100px;
  margin-top: 10px;
}
.P1 {
  font-size: x-large;
  margin-left: 10px;
  margin-top: 20px;
}

.div10 {
  width: 300px;
  height: 280px;
  position: relative;

  left: 130px;
  display: inline-block;
  background-color: white;
}
.b5 {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.i4 {
  width: 200px;
  height: 90px;
  margin-left: 50px;
  display: inline-block;
}
.H1 {
  padding-left: 100px;
  margin-top: 10px;
}
.P2 {
  font-size: x-large;
  margin-left: 10px;
  margin-top: 20px;
}
.div11 {
  width: 300px;
  height: 280px;
  position: relative;
  left: 260px;

  display: inline-block;
  background-color: white;
}
.b6 {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.i5 {
  width: 200px;
  height: 90px;
  margin-left: 40px;
  display: inline-block;
}
.F1 {
  padding-left: 100px;
  margin-top: 10px;
}
.P3 {
  font-size: x-large;
  margin-left: 10px;
  margin-top: 20px;
}
