/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100;
  height: 100;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.d1 {
  height: 90px;
  width: 1550px;
  position: fixed;

  background-color: #131c27;
}
.t {
  position: relative;
  top: 26px;
  left: 100px;
  color: white;
  font-style: italic;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.l {
  position: absolute;
  top: 33px;
  right: 580px;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.b {
  position: absolute;
  top: 33px;
  right: 400px;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.c {
  position: absolute;
  top: 33px;
  right: 220px;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.d2 {
  width: 1550px;
  height: 750px;
}
.i {
  width: 1550px;
  height: 900px;
}
.div2 {
  font-size: 200%;
  color: whitesmoke;
  position: relative;
  bottom: 500px;
  left: 500px;
  right: 500px;
}
.div3 {
  position: relative;
  color: white;
  font-size: 120%;
  left: 400px;
  bottom: 450px;
}
.div4 {
  position: relative;
  font-size: 150%;

  color: white;
  left: 600px;
  bottom: 430px;
}

.button {
  position: absolute;
  top: 500px;
  left: 680px;
  font-size: large;
  font-style: oblique;
  border: none;
  width: 180px;
  height: 60px;
  background-color: #2d68b1;
  color: whitesmoke;
  box-shadow: inset 0 0 0 0#0b1f37;
  transition: all;
}
.button:hover {
  box-shadow: inset 180px 0 0 0#0b1f37;
  cursor: pointer;
  color: white;
}
