div {
  border: 2px solid gray;
  width: 200px;
  height: 500px;
}
.card1 {
  position: absolute;
  top: 7px;
  left: 250px;
}
.card2 {
  position: absolute;
  top: 7px;
  left: 500px;
}
.card3 {
  position: absolute;
  top: 7px;
  left: 750px;
}
.card4 {
  position: absolute;
  top: 7px;
  left: 1000px;
}
