.card1 {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 100px;
  animation: mojaAnimacija 2s ease;
  animation-iteration-count: infinite;
  position: relative;
}
@keyframes mojaAnimacija {
  0% {
    background-color: green;
    left: 0;
  }
  25% {
    left: 300px;
    top: 0px;
    background-color: pink;
  }

  50% {
    left: 300px;
    top: 300px;
    background-color: blue;
  }
  75% {
    background-color: orange;
    left: 0px;
    top: 300px;
  }
  100% {
    background-color: black;
    left: 0px;
    top: 0px;
  }
}
