.card1 {
  width: 300px;
  height: 300px;
  background-color: red;
  margin: 100px;
  animation: mojaAnimacija 2s ease;
  animation-delay: 3s;
}
@keyframes mojaAnimacija {
  from {
    width: 300px;
    height: 300px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}
